body {
    background-color: blanchedalmond;
    font-family: "DynaPuff", system-ui;
}


.mainsection {
    background-color: #f5b26f;
    max-width: 700px;
    margin: 70px auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 40px 60px rgb(25, 23, 21);
}

.searchforminput {
    background-color: blanchedalmond;
    border: none;
    border-radius: 20px;
    width: 550px;
    padding: 15px 20px;
    font-size: 16px;
}


.searchformsubmit {
    background-color: #adf1b1;
    border: none;
    border-radius: 20px;
    width: 100px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

.thefooter {
    text-align: center;


}

a {
    color: #9e4f00;
}


.weatherappdata {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 30px;
}


.weatherappdata strong {
    color: #9e4f00;
    justify-content: space-between;
}

.weatherappcontainer {
    display: flex;
}

.weatherappicon {
    font-size: 44px;
    margin-top: 22px;
}

.weatherapptempreture {
    font-size: 88px;
    margin-left: 10px;
    font-weight: bold;
}

.weatherappunity {
    margin-top: 16px;
    font-size: 28px;
}